body{
background-image: url(https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX19425712.jpg);
color: yellow;
font-size: 27px;

}

#contact{
    color: yellow;
    font-family:'Marck Script', cursive;
    text-align: center;
    font-size: 50px;
}
.email{
    color: yellow;
    font-family:'Marck Script', cursive;
    text-align: left;
    font-size: 50px;
    margin-left: 20px;
        }
#email_link{
    color: yellow;
    text-align: left;
    font-size: 30px;
    font-style: italic;
    margin-left: 20px;
    font-family: 'Marck Script', cursive;

    }
.link_contact{
        color: yellow;
        text-align: left;
        font-size: 50px;
        font-family: 'Marck Script', cursive;
        margin-left: 20px;

        }
        .link_contact:hover{
            color: white;
        }

.container{
    
    background-image: url(assets/sea.jpg);
    height: 100%;
   /* padding-bottom: 200px; */
}
.card{
    
    background: linear-gradient(
        309deg,
        rgba(0, 2, 1, 0.972) 34%,
        rgb(2, 5, 165) 80%);
margin: 10px auto;

margin-top: 20px;

}
h2{
    text-align: center;
}
.card-img-top {
max-width: 300px;
max-height: 300px;
margin: auto;    
}
.card-text{
    font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn-primary, .nav-link, .navbar{
background-color: black;
color: yellow;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.nav-link:hover{
    color: white;
}
.indexBody{
   
color: rgb(225, 250, 0);
font-size: 27px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.indexBody1{
  
    
color: white;
text-shadow: black;
text-decoration-color: black;

font-size: 30px;
margin-left: 15px;
margin-top: -20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer{
    text-align: center;
    font-size: 15px;
    color: yellow;
    background-color: black;
   padding: 20px;
   
}
#foot{
    text-align: center;
    font-size: 15px;
    color: yellow;
    background-color: black;
    padding: 20px;
    
    
}
#cont{
    height: 100%;
    padding-bottom: 282px;
}
.card-body{
    text-align: center;
}
.contact-page{
    background-color: black;
}
.tom{
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bullet-job{
    list-style-type: "~";
    list-style-position: outside;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.email-link{
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email-link:hover{
    color: white;
}
.pad{
    padding-bottom: 78px;
}
.card-title{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: yellow;
font-size: 20px;
}